.App {
  text-align: center;
  overflow-x:hidden;
}

/* Header Styling */
.siteHeader{
  top:0;
  z-index: 2;
  position: fixed !important;

  height:10vh;
  max-width: 100vw !important;
  background-color: #43E895;

  color:white;
  font-family: 'Roboto', sans-serif;
}
.mainTitle{
  font-size: 34px;
  font-weight: bold;
  height:10vh
}
.mapIcon{
  height: 2rem;
}

/* List View Styling */
.listView{
  max-width: 100vw !important;
  margin: 10vh 0 0 0;
  background-color: #ffffff;
  font-family: 'Roboto', sans-serif;

}

/* Restaurant Div Styling */
.overlayBox{
  height:15rem;
  display:block;
  position:relative;
  cursor: pointer;
}
.restaurant{
  height:15rem;
  padding-left:0 !important;
  padding-right:0 !important;
}
.restaurantImage{
  width:100%;
  height:100%;
  background-size: cover;
  background-position: center
}
.restaurantGradient{
  position: absolute;
  width:100%;
  height:100%;
  z-index: 1;
  top:0;
  left: 0;
}
.restaurantName{
  font-size: 20px;
  font-weight: bold;
  text-align: left;
  color: #ffffff;

  z-index: 1;
  bottom:36px;
  left: 12px;
  position: absolute;
}
.restaurantCatagory{
  font-size: 16px;
  text-align: left;
  color: #ffffff;

  z-index: 1;
  bottom:12px;
  left: 12px;
  position: absolute;
}

/* Detail View Styling */
.detailViewContainer{
  height:90vh;
  min-width:100vw;
  background-color: white;
  font-family: 'Roboto', sans-serif;

}
.exitBar{
  height:90vh;
  background-color: #2a2a2a
}
.closeButton{
  height: 20px;
  margin-top:12px;
}
.detailViewCol{
  padding: 0 0 0 0 !important;
}
.detailViewMap{
  height:50vh;
  width:100%
}
.mapHolder{
  height:30vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

}
.hotDogHolder{
  height:5vh;
  width:5vh;
  background-color: #34B379;
  border-radius: 50%;
}

.hotDogImage{
  height:5vh;
}
.detailViewGeneralInfo{
  height:10vh;
  background-color: #34B379;
  color:#ffffff;
}
.detailName{
  font-size: 4vh;
  font-weight: bold;
  color: #ffffff;
  display: block;
  text-align: left;
  margin-left:12px;
}
.detailCatagory{
  font-size: 2vh;
  color: #ffffff;
  display: block;
  text-align: left;
  margin-left:12px;
}
.moreInfoHolder{
  font-family: 'Roboto', sans-serif;
  font-size: 2.5vh;
  text-align: left;
  margin-left:12px;
  margin-top:12px;


}
/* Burger menu styling */
.bm-menu {
  background: #ffffff;
  padding: 0 0 0;
  font-size: 1.15em;
}